<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>

<body>
文件上传(excel)
<form enctype="multipart/form-data" method="post" action="/cardmi/read?sheetNo=4">
    文件:<input type="file" name="excel"/>
    名称:<input type="text" name="name"/>
    <input type="submit" value="上传"/>
</form>
<!--ajax方式(没有实现)-->
<p>ajax方式(没有实现)</p>
<input type="file" name="excel" id="f" multiple>


</body>
</html>